table {
  border-collapse: collapse;
  width: 40%;
  display: table-header-group;
}
td,th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #333;
  padding: 0.8em;
}
th {
  background-color: #c0c0c0;
}
td.selected {
  background-color: #c0c0c0;
}
p.sample {
  color: #ff0000;
  font-size: 150%;
}
p.selected {
  color: #0000ff;
}
p {
  font-size: 135%;
}
h3 {
  color: #ff0000;
}
h1 {
  background-color: #24140e;
  color: #ffffff;
}
h4 {
  font-size: 120%;
}
a {
  font-size: 200%;
  font-weight: bold;
}
h2 {
  font-size: 250%;
  font-weight: bold;
  background-color: #00008b;
  color: #ffffff;
}
